.wireframe {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 3418px;
  position: relative;
}

.wireframe .rectangle {
  position: absolute;
  top: 231px;
  left: 86px;
  width: 1268px;
  height: 1001px;
  background-color: #ffffff;
  border-radius: 30px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #deb531;
  box-shadow: 0px 4px 4px #00000040;
}

.wireframe .JOB-NEEDED-SATURDAY {
  position: absolute;
  top: 407px;
  left: 138px;
  width: 456px;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 70px;
}

.wireframe .div {
  position: absolute;
  top: 584px;
  left: 137px;
  width: 198px;
  height: 46px;
  background-color: #deb531;
  border-radius: 12px;
}

.wireframe .text-wrapper {
  position: absolute;
  top: 593px;
  left: 141px;
  width: 190px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #0d2959;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .rectangle-2 {
  position: absolute;
  top: 584px;
  left: 355px;
  width: 155px;
  height: 46px;
  background-color: #deb531;
  border-radius: 12px;
}

.wireframe .text-wrapper-2 {
  position: absolute;
  top: 593px;
  left: 363px;
  width: 139px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #0d2959;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .rectangle-3 {
  position: absolute;
  top: 654px;
  left: 137px;
  width: 119px;
  height: 48px;
  background-color: #deb531;
  border-radius: 12px;
}

.wireframe .text-wrapper-3 {
  position: absolute;
  top: 664px;
  left: 155px;
  width: 84px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #0d2959;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .group {
  position: absolute;
  top: 263px;
  left: 152px;
  width: 275px;
  height: 100px;
}

.wireframe .ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.wireframe .text-wrapper-4 {
  position: absolute;
  top: 21px;
  left: 106px;
  width: 165px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-5 {
  position: absolute;
  top: 62px;
  left: 106px;
  width: 121px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .image {
  position: absolute;
  top: 294px;
  left: 1058px;
  width: 254px;
  height: 42px;
  aspect-ratio: 6.05;
  object-fit: cover;
}

.wireframe .rectangle-4 {
  position: absolute;
  top: 523px;
  left: 791px;
  width: 406px;
  height: 70px;
  background-color: #0d2959;
  border-radius: 15px;
}

.wireframe .text-wrapper-6 {
  position: absolute;
  top: 533px;
  left: 881px;
  width: 226px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #deb531;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .line {
  top: 763px;
  left: 82px;
  width: 1276px;
  position: absolute;
  height: 9px;
  object-fit: cover;
}

.wireframe .img {
  top: 1365px;
  left: 0;
  width: 1440px;
  position: absolute;
  height: 9px;
  object-fit: cover;
}

.wireframe .text-wrapper-7 {
  position: absolute;
  top: 787px;
  left: 136px;
  width: 287px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 35px;
  line-height: normal;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
}

.wireframe .text-wrapper-8 {
  position: absolute;
  top: 1012px;
  left: 136px;
  width: 287px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .p {
  position: absolute;
  top: 837px;
  left: 138px;
  width: 1148px;
  height: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .preferably-female {
  position: absolute;
  top: 1059px;
  left: 121px;
  width: 643px;
  height: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 29px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .group-2 {
  position: absolute;
  top: 1583px;
  left: 133px;
  width: 342px;
  height: 383px;
}

.wireframe .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 383px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
}

.wireframe .rectangle-6 {
  position: absolute;
  top: 31px;
  left: 28px;
  width: 283px;
  height: 182px;
}

.wireframe .JOB-loren-epsum {
  position: absolute;
  top: 244px;
  left: 39px;
  width: 272px;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
}

.wireframe .group-3 {
  position: absolute;
  top: 324px;
  left: 95px;
  width: 152px;
  height: 29px;
}

.wireframe .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 29px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.wireframe .text-wrapper-9 {
  position: absolute;
  top: 4px;
  left: 48px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.wireframe .group-4 {
  position: absolute;
  top: 1583px;
  left: 967px;
  width: 342px;
  height: 383px;
}

.wireframe .group-5 {
  position: absolute;
  top: 2069px;
  left: 967px;
  width: 342px;
  height: 383px;
}

.wireframe .group-6 {
  position: absolute;
  top: 2069px;
  left: 133px;
  width: 342px;
  height: 383px;
}

.wireframe .group-7 {
  position: absolute;
  top: 2069px;
  left: 550px;
  width: 342px;
  height: 383px;
}

.wireframe .group-8 {
  position: absolute;
  top: 1583px;
  left: 550px;
  width: 342px;
  height: 383px;
}

.wireframe .group-9 {
  position: absolute;
  top: 2979px;
  left: 0;
  width: 1442px;
  height: 439px;
}

.wireframe .rectangle-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 439px;
  background-color: #deb531;
}

.wireframe .text-icons {
  display: flex;
  width: 1296px;
  height: 165px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 72px;
}

.wireframe .logo-text-icon {
  display: flex;
  flex-direction: column;
  width: 377px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-bottom: -32.38px;
}

.wireframe .logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.wireframe .check {
  position: relative;
  width: 28px;
  height: 28px;
}

.wireframe .your-go-to-platform {
  position: relative;
  width: 408px;
  height: 129px;
  margin-right: -31.00px;
  font-family: "Montserrat-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0d2959;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.wireframe .text {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  margin-bottom: -2.38px;
}

.wireframe .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #0d2959;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.wireframe .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-wrapper-13 {
  position: relative;
  width: 76px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-wrapper-14 {
  position: relative;
  width: 117px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -2.38px;
}

.wireframe .digital-onine-tasks {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-input-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.wireframe .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .input {
  position: relative;
  width: 306px;
  height: 50px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0d2959;
  background: none;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  padding-left: 21px;
}

.wireframe .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 306px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  margin-bottom: -33.38px;
  background-color: #0d2959;
  border-radius: 12px;
  overflow: hidden;
}

.wireframe .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #deb531;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .copyright-RAKETERO {
  position: absolute;
  top: 367px;
  left: 536px;
  width: 368px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.wireframe .similar-gigs-nearby {
  position: absolute;
  top: 1440px;
  left: 515px;
  width: 375px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .group-10 {
  position: absolute;
  width: 1440px;
  height: 107px;
  top: 0;
  left: 0;
}

.wireframe .group-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1450px;
  height: 107px;
}

.wireframe .rectangle-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 107px;
  background-color: #deb531;
}

.wireframe .chatgpt-image-feb {
  position: absolute;
  top: 33px;
  left: 83px;
  width: 54px;
  height: 38px;
  aspect-ratio: 1.43;
}

.wireframe .chatgpt-image-feb-2 {
  position: absolute;
  top: 41px;
  left: 137px;
  width: 137px;
  height: 25px;
  aspect-ratio: 5.57;
}

.wireframe .text-wrapper-19 {
  position: absolute;
  top: 44px;
  left: 448px;
  width: 74px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-20 {
  position: absolute;
  top: 44px;
  left: 554px;
  width: 74px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-21 {
  position: absolute;
  top: 44px;
  left: 672px;
  width: 91px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-22 {
  position: absolute;
  top: 44px;
  left: 810px;
  width: 115px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-23 {
  position: absolute;
  top: 44px;
  left: 1242px;
  width: 115px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .group-12 {
  position: absolute;
  top: 35px;
  left: 1195px;
  width: 38px;
  height: 38px;
  background-image: url(./img/ellipse-2.png);
  background-size: 100% 100%;
}