.wireframe {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 3418px;
  display: flex;
}

.wireframe .group {
  width: 1462px;
  height: 3418px;
  position: relative;
}

.wireframe .rectangle {
  position: absolute;
  top: 206px;
  left: 72px;
  width: 1268px;
  height: 2491px;
  background-color: #ffffff;
  border-radius: 30px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #deb531;
  box-shadow: 0px 4px 4px #00000040;
}

.wireframe .creative-production {
  position: absolute;
  top: 1518px;
  left: 133px;
  width: 871px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper {
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
}

.wireframe .span {
  font-family: "Montserrat-Italic", Helvetica;
  font-style: italic;
}

.wireframe .ellipse {
  position: absolute;
  top: 248px;
  left: 1270px;
  width: 59px;
  height: 59px;
  aspect-ratio: 1;
}

.wireframe .img {
  position: absolute;
  top: 594px;
  left: 627px;
  width: 59px;
  height: 59px;
  object-fit: cover;
}

.wireframe .ellipse-2 {
  position: absolute;
  top: 594px;
  left: 785px;
  width: 59px;
  height: 59px;
  aspect-ratio: 1;
}

.wireframe .ellipse-3 {
  position: absolute;
  top: 594px;
  left: 706px;
  width: 59px;
  height: 59px;
}

.wireframe .line {
  top: 837px;
  position: absolute;
  left: 68px;
  width: 1276px;
  height: 9px;
  object-fit: cover;
}

.wireframe .line-2 {
  top: 1363px;
  position: absolute;
  left: 68px;
  width: 1276px;
  height: 9px;
  object-fit: cover;
}

.wireframe .line-3 {
  top: 2036px;
  position: absolute;
  left: 68px;
  width: 1276px;
  height: 9px;
  object-fit: cover;
}

.wireframe .div {
  position: absolute;
  top: 2979px;
  left: 0;
  width: 1442px;
  height: 439px;
}

.wireframe .rectangle-2 {
  height: 439px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  background-color: #deb531;
}

.wireframe .text-icons {
  display: flex;
  width: 1296px;
  height: 165px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 72px;
}

.wireframe .logo-text-icon {
  display: flex;
  flex-direction: column;
  width: 377px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-bottom: -32.38px;
}

.wireframe .logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.wireframe .check {
  position: relative;
  width: 28px;
  height: 28px;
}

.wireframe .your-go-to-platform {
  position: relative;
  width: 408px;
  height: 129px;
  margin-right: -31.00px;
  font-family: "Montserrat-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0d2959;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.wireframe .text {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  margin-bottom: -2.38px;
}

.wireframe .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #0d2959;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.wireframe .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.wireframe .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-wrapper-5 {
  position: relative;
  width: 76px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-wrapper-6 {
  position: relative;
  width: 117px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .text-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -2.38px;
}

.wireframe .digital-onine-tasks {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-input-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.wireframe .p {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wireframe .input {
  position: relative;
  width: 306px;
  height: 50px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0d2959;
  background: none;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  padding-left: 21px;
}

.wireframe .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 306px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  margin-bottom: -33.38px;
  background-color: #0d2959;
  border-radius: 12px;
  overflow: hidden;
}

.wireframe .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #deb531;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .copyright-RAKETERO {
  position: absolute;
  top: 367px;
  left: 536px;
  width: 368px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.wireframe .group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 107px;
}

.wireframe .group-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1450px;
  height: 107px;
}

.wireframe .rectangle-3 {
  height: 107px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  background-color: #deb531;
}

.wireframe .chatgpt-image-feb {
  position: absolute;
  top: 33px;
  left: 83px;
  width: 54px;
  height: 38px;
  aspect-ratio: 1.43;
}

.wireframe .chatgpt-image-feb-2 {
  position: absolute;
  top: 41px;
  left: 137px;
  width: 137px;
  height: 25px;
  aspect-ratio: 5.57;
}

.wireframe .text-wrapper-10 {
  position: absolute;
  top: 44px;
  left: 448px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-11 {
  position: absolute;
  top: 44px;
  left: 554px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-12 {
  position: absolute;
  top: 44px;
  left: 672px;
  width: 91px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-13 {
  position: absolute;
  top: 44px;
  left: 810px;
  width: 115px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .text-wrapper-14 {
  position: absolute;
  top: 44px;
  left: 1242px;
  width: 115px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.wireframe .ellipse-4 {
  position: absolute;
  top: 35px;
  left: 1198px;
  width: 38px;
  height: 38px;
  aspect-ratio: 1;
}

.wireframe .ellipse-5 {
  position: absolute;
  top: 340px;
  left: 195px;
  width: 350px;
  height: 350px;
  aspect-ratio: 1;
}

.wireframe .text-wrapper-15 {
  position: absolute;
  top: 386px;
  left: 628px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0d2959;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-16 {
  position: absolute;
  top: 450px;
  left: 627px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 29px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-17 {
  position: absolute;
  top: 900px;
  left: 72px;
  width: 306px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-18 {
  position: absolute;
  top: 1403px;
  left: 105px;
  width: 384px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-19 {
  position: absolute;
  top: 2067px;
  left: 105px;
  width: 242px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .lorem-ipsum-dolor {
  position: absolute;
  top: 976px;
  left: 137px;
  width: 1100px;
  height: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .mahattan-NYC-USA {
  position: absolute;
  top: 489px;
  left: 627px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 29px;
  letter-spacing: 0;
  line-height: 45px;
}

.wireframe .ateneo-de-manila {
  position: absolute;
  top: 2173px;
  left: 137px;
  width: 777px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .ateneo-de-manila-2 {
  position: absolute;
  top: 2341px;
  left: 137px;
  width: 777px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .lorem-ipsum-dolor-2 {
  position: absolute;
  top: 1607px;
  left: 133px;
  width: 1093px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-20 {
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
}