.frame {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1931px;
  position: relative;
}

.frame .rectangle {
  top: 107px;
  width: 1440px;
  height: 1385px;
  background-color: #f8f7f6;
  position: absolute;
  left: 0;
}

.frame .group {
  position: absolute;
  height: 1087px;
  top: 288px;
  left: 306px;
  display: flex;
  align-items: flex-start;
  min-width: 827px;
}

.frame .group-wrapper {
  display: flex;
  align-items: flex-start;
  min-width: 827px;
}

.frame .div-wrapper {
  width: 827px;
  display: flex;
}

.frame .div {
  width: 831px;
  height: 1087px;
  position: relative;
}

.frame .rectangle-2 {
  top: 102px;
  width: 827px;
  height: 985px;
  background-color: #deb531;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
  position: absolute;
  left: 0;
}

.frame .group-2 {
  position: absolute;
  top: 846px;
  left: 336px;
  width: 72px;
  height: 21px;
  display: flex;
}

.frame .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5px;
  width: 67.72px;
  height: 14.88px;
  margin-left: 0.9px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 841px;
  left: 86px;
  width: 250px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 142px;
  width: 544px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-3 {
  position: absolute;
  height: 823px;
  top: 183px;
  left: 91px;
  display: flex;
  align-items: flex-start;
  min-width: 645px;
}

.frame .group-4 {
  display: flex;
  align-items: flex-start;
  min-width: 645px;
}

.frame .group-5 {
  width: 645px;
  height: 823px;
  display: flex;
  flex-direction: column;
}

.frame .group-6 {
  width: 647px;
  height: 91px;
  position: relative;
}

.frame .rectangle-3 {
  top: 0;
  width: 645px;
  height: 91px;
  background-color: #f8f9f6;
  border-radius: 7px;
  position: absolute;
  left: 0;
}

.frame .image {
  position: absolute;
  top: 31px;
  left: 40px;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 39px;
  left: 84px;
  width: 97px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #00000040;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .group-7 {
  width: 647px;
  height: 91px;
  position: relative;
  margin-top: 44px;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 37px;
  left: 84px;
  width: 97px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #00000040;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  position: absolute;
  top: 38px;
  left: 84px;
  width: 141px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .img {
  position: absolute;
  top: 31px;
  left: 40px;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
}

.frame .vector {
  position: absolute;
  top: 45px;
  left: 599px;
  width: 33px;
  height: 14px;
}

.frame .image-2 {
  position: absolute;
  top: 31px;
  left: 585px;
  width: 29px;
  height: 29px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .image-3 {
  position: absolute;
  top: 24px;
  left: 32px;
  width: 46px;
  height: 41px;
  aspect-ratio: 1.12;
  object-fit: cover;
}

.frame .text-wrapper-7 {
  position: absolute;
  top: 37px;
  left: 84px;
  width: 183px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #00000040;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .group-8 {
  width: 183px;
  height: 80px;
  position: relative;
  margin-top: 112px;
}

.frame .rectangle-4 {
  top: 0;
  width: 181px;
  height: 80px;
  background-color: #0d2959;
  border-radius: 7px;
  position: absolute;
  left: 0;
}

.frame .text-wrapper-8 {
  position: absolute;
  top: 31px;
  left: 31px;
  width: 119px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .group-9 {
  position: absolute;
  top: 1492px;
  left: 0;
  width: 1442px;
  height: 439px;
}

.frame .rectangle-5 {
  top: 0;
  width: 1440px;
  height: 439px;
  background-color: #deb531;
  position: absolute;
  left: 0;
}

.frame .text-icons {
  display: flex;
  width: 1296px;
  height: 165px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 72px;
}

.frame .logo-text-icon {
  display: flex;
  flex-direction: column;
  width: 377px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-bottom: -32.38px;
}

.frame .logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.frame .check {
  position: relative;
  width: 28px;
  height: 28px;
}

.frame .your-go-to-platform {
  position: relative;
  width: 408px;
  height: 129px;
  margin-right: -31.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.frame .text {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  margin-bottom: -2.38px;
}

.frame .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #0d2959;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.frame .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.frame .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.frame .text-wrapper-12 {
  position: relative;
  width: 76px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.frame .text-wrapper-13 {
  position: relative;
  width: 117px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.frame .text-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -2.38px;
}

.frame .digital-onine-tasks {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-14 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-input-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.frame .input {
  position: relative;
  width: 306px;
  height: 50px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0d2959;
  background: none;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  padding-left: 21px;
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 306px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  margin-bottom: -33.38px;
  background-color: #0d2959;
  border-radius: 12px;
  overflow: hidden;
}

.frame .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #deb531;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .copyright-RAKETERO {
  position: absolute;
  top: 367px;
  left: 536px;
  width: 368px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.frame .group-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1450px;
  height: 107px;
}

.frame .rectangle-6 {
  top: 0;
  width: 1440px;
  height: 107px;
  background-color: #deb531;
  position: absolute;
  left: 0;
}

.frame .chatgpt-image-feb {
  position: absolute;
  top: 33px;
  left: 83px;
  width: 54px;
  height: 38px;
  aspect-ratio: 1.43;
}

.frame .chatgpt-image-feb-2 {
  position: absolute;
  top: 41px;
  left: 137px;
  width: 137px;
  height: 25px;
  aspect-ratio: 5.57;
}

.frame .text-wrapper-17 {
  position: absolute;
  top: 44px;
  left: 1137px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-18 {
  position: absolute;
  top: 44px;
  left: 448px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-19 {
  position: absolute;
  top: 44px;
  left: 554px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-20 {
  position: absolute;
  top: 44px;
  left: 672px;
  width: 91px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-21 {
  position: absolute;
  top: 44px;
  left: 810px;
  width: 115px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .group-11 {
  position: absolute;
  top: 36px;
  left: 1238px;
  width: 118px;
  height: 36px;
}

.frame .group-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 36px;
  background-color: #0d2959;
  border-radius: 7px;
}

.frame .text-wrapper-22 {
  position: absolute;
  top: 13px;
  left: 4px;
  width: 108px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #deb531;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}