.jobs {
  background-color: #f8f7f6;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 4910px;
  position: relative;
}

.jobs .rectangle {
  position: absolute;
  top: 107px;
  left: -2px;
  width: 1442px;
  height: 335px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(
    90deg,
    rgba(13, 41, 89, 1) 10%,
    rgba(13, 41, 89, 1) 23%,
    rgba(16, 58, 129, 1) 34%,
    rgba(47, 93, 172, 1) 47%,
    rgba(47, 93, 172, 1) 56%,
    rgba(16, 58, 129, 1) 69%,
    rgba(13, 41, 89, 1) 79%,
    rgba(13, 41, 89, 1) 86%
  );
}

.jobs .group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1450px;
  height: 107px;
}

.jobs .div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 107px;
  background-color: #deb531;
}

.jobs .chatgpt-image-feb {
  position: absolute;
  top: 33px;
  left: 83px;
  width: 54px;
  height: 38px;
  aspect-ratio: 1.43;
}

.jobs .img {
  position: absolute;
  top: 41px;
  left: 137px;
  width: 137px;
  height: 25px;
  aspect-ratio: 5.57;
}

.jobs .text-wrapper {
  position: absolute;
  top: 44px;
  left: 1137px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-wrapper-2 {
  position: absolute;
  top: 44px;
  left: 448px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-wrapper-3 {
  position: absolute;
  top: 44px;
  left: 554px;
  width: 74px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-wrapper-4 {
  position: absolute;
  top: 44px;
  left: 672px;
  width: 91px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-wrapper-5 {
  position: absolute;
  top: 44px;
  left: 810px;
  width: 115px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .group-2 {
  position: absolute;
  top: 36px;
  left: 1238px;
  width: 118px;
  height: 36px;
}

.jobs .group-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 36px;
  background-color: #0d2959;
  border-radius: 7px;
}

.jobs .text-wrapper-6 {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 104px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #deb531;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .group-4 {
  position: absolute;
  top: 210px;
  left: 386px;
  width: 671px;
  height: 86px;
  box-shadow: 0px 2px 3px #00000040;
}

.jobs .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 667px;
  height: 86px;
  background-color: #f7faff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #0d2959;
}

.jobs .text-wrapper-7 {
  position: absolute;
  top: 30px;
  left: 36px;
  width: 165px;
  font-family: "Montserrat-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #0f0e0e21;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .rectangle-3 {
  position: absolute;
  top: 12px;
  left: 542px;
  width: 114px;
  height: 63px;
  background-color: #deb531;
  border-radius: 6px;
}

.jobs .text-wrapper-8 {
  position: absolute;
  top: 27px;
  left: 549px;
  width: 99px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.jobs .category {
  top: 509px;
  left: 491px;
  position: absolute;
  width: 457px;
  height: 87px;
  display: flex;
  background-color: #deb531;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
}

.jobs .div-wrapper {
  margin-top: 27px;
  width: 355.77px;
  margin-left: 52px;
  display: flex;
}

.jobs .text-wrapper-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 353.77px;
  height: 33.14px;
  font-family: "Montserrat-ExtraBoldItalic", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #0d2959;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .group-wrapper {
  top: 1819px;
  left: 491px;
  position: absolute;
  width: 457px;
  height: 87px;
  display: flex;
  background-color: #deb531;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
}

.jobs .group-5 {
  position: absolute;
  top: 4471px;
  left: 0;
  width: 1442px;
  height: 439px;
}

.jobs .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 439px;
  background-color: #deb531;
}

.jobs .text-icons {
  display: flex;
  width: 1296px;
  height: 165px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 72px;
}

.jobs .logo-text-icon {
  display: flex;
  flex-direction: column;
  width: 377px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-bottom: -32.38px;
}

.jobs .logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.jobs .check {
  position: relative;
  width: 28px;
  height: 28px;
}

.jobs .your-go-to-platform {
  position: relative;
  width: 408px;
  height: 129px;
  margin-right: -31.00px;
  font-family: "Montserrat-MediumItalic", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #0d2959;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.jobs .text {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  margin-bottom: -2.38px;
}

.jobs .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #0d2959;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.jobs .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.jobs .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.jobs .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.jobs .text-wrapper-13 {
  position: relative;
  width: 76px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.jobs .text-wrapper-14 {
  position: relative;
  width: 117px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.jobs .text-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -2.38px;
}

.jobs .digital-onine-tasks {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.jobs .text-input-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.jobs .p {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.jobs .input {
  position: relative;
  width: 306px;
  height: 50px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0d2959;
  background: none;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #0d2959;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  padding: 0;
  padding-left: 21px;
}

.jobs .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 306px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  margin-bottom: -33.38px;
  background-color: #0d2959;
  border-radius: 12px;
  overflow: hidden;
}

.jobs .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #deb531;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.jobs .copyright-RAKETERO {
  position: absolute;
  top: 367px;
  left: 536px;
  width: 368px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0d2959;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.jobs .group-6 {
  position: absolute;
  top: 719px;
  left: 133px;
  width: 342px;
  height: 383px;
}

.jobs .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 383px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
}

.jobs .rectangle-6 {
  position: absolute;
  top: 31px;
  left: 28px;
  width: 283px;
  height: 182px;
}

.jobs .JOB-loren-epsum {
  position: absolute;
  top: 244px;
  left: 39px;
  width: 272px;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
}

.jobs .group-7 {
  position: absolute;
  top: 324px;
  left: 95px;
  width: 152px;
  height: 29px;
}

.jobs .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 29px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.jobs .text-wrapper-18 {
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-style: italic;
  position: absolute;
  top: 4px;
  left: 48px;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.jobs .group-8 {
  position: absolute;
  top: 719px;
  left: 967px;
  width: 342px;
  height: 383px;
}

.jobs .text-wrapper-19 {
  font-family: "Montserrat-SemiBold", Helvetica;
  position: absolute;
  top: 4px;
  left: 48px;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.jobs .group-9 {
  position: absolute;
  top: 2009px;
  left: 967px;
  width: 342px;
  height: 383px;
}

.jobs .group-10 {
  position: absolute;
  width: 340px;
  height: 383px;
  top: 2495px;
  left: 967px;
  display: flex;
}

.jobs .group-11 {
  width: 340px;
  height: 383px;
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
}

.jobs .group-12 {
  margin-top: 171px;
  width: 175px;
  height: 41.23px;
  margin-left: 83px;
  position: relative;
}

.jobs .rectangle-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 173px;
  height: 41px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.jobs .text-wrapper-20 {
  position: absolute;
  top: 5px;
  left: 41px;
  width: 92px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
}

.jobs .group-13 {
  position: absolute;
  top: 2495px;
  left: 133px;
  width: 342px;
  height: 383px;
}

.jobs .group-14 {
  position: absolute;
  top: 2495px;
  left: 550px;
  width: 342px;
  height: 383px;
}

.jobs .group-15 {
  position: absolute;
  top: 2009px;
  left: 550px;
  width: 342px;
  height: 383px;
}

.jobs .group-16 {
  position: absolute;
  top: 1205px;
  left: 133px;
  width: 342px;
  height: 383px;
}

.jobs .group-17 {
  position: absolute;
  top: 1205px;
  left: 550px;
  width: 342px;
  height: 383px;
}

.jobs .group-18 {
  position: absolute;
  top: 2009px;
  left: 133px;
  width: 342px;
  height: 383px;
}

.jobs .category-2 {
  top: 3102px;
  left: 496px;
  position: absolute;
  width: 457px;
  height: 87px;
  display: flex;
  background-color: #deb531;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 2px #00000040;
}

.jobs .group-19 {
  position: absolute;
  top: 3292px;
  left: 972px;
  width: 342px;
  height: 383px;
}

.jobs .group-20 {
  position: absolute;
  width: 340px;
  height: 383px;
  top: 3778px;
  left: 972px;
  display: flex;
}

.jobs .group-21 {
  position: absolute;
  top: 3778px;
  left: 138px;
  width: 342px;
  height: 383px;
}

.jobs .group-22 {
  position: absolute;
  top: 3778px;
  left: 555px;
  width: 342px;
  height: 383px;
}

.jobs .group-23 {
  position: absolute;
  top: 3292px;
  left: 555px;
  width: 342px;
  height: 383px;
}

.jobs .group-24 {
  position: absolute;
  top: 3292px;
  left: 138px;
  width: 342px;
  height: 383px;
}

.jobs .group-25 {
  position: absolute;
  top: 719px;
  left: 550px;
  width: 342px;
  height: 383px;
}

.jobs .group-26 {
  position: absolute;
  top: 1205px;
  left: 967px;
  width: 340px;
  height: 383px;
}

.jobs .group-27 {
  position: absolute;
  top: 171px;
  left: 83px;
  width: 175px;
  height: 41px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 150px; /* adjust if needed */
  padding: 8px 14px;
  background-color: #f4c430;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: #e0b020;
}


